<header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="ml-3 text-xl">Tailblocks</span>
      </a>
      <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
        <a class="mr-5 hover:text-gray-900">INICIO</a>
        <a class="mr-5 hover:text-gray-900">SOBRE MI</a>
        <a class="mr-5 hover:text-gray-900">SERVICIOS</a>
        <a class="mr-5 hover:text-gray-900">BLOG</a>
      </nav>
      <a target="_blank" href="https://www.instagram.com/nutrigugas?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">
        <img width="40" height="40" class="rounded-full" src="https://static.vecteezy.com/system/resources/previews/002/002/403/non_2x/man-with-beard-avatar-character-isolated-icon-free-vector.jpg" alt="">
      </a>
    </div>
  </header>